body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

/* applying grid on emoji cards */
.emojis {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  column-gap: 15px;
  row-gap: 15px;  
}


.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
   /* styling  card contents */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* styling icons  */
.emoji :nth-child(2) {
  order:-1;
  align-self: center;
  padding-bottom: 1rem;
}
/* styling bottom banner */
.emoji :nth-child(4) {
   align-self:stretch;
   margin-top: auto;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
  font-weight: bolder;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

.icon {
  font-size: 4rem;
}